.popover {
  --arrow-display: var(--bl-popover-arrow-display, none);
  --background-color: var(--bl-popover-background-color, var(--bl-color-primary-background));
  --border-color: var(--bl-popover-border-color, var(--bl-color-primary-hover));
  --padding: var(--bl-popover-padding, var(--bl-size-m));
  --border-radius: var(--bl-popover-border-radius,  var(--bl-size-3xs));
  --position: var(--bl-popover-position, fixed);

  position: var(--position);
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  z-index: 999;
  width: max-content;
  hyphens: auto;
  background-color: var(--background-color);
 }

.popover:not(.visible) {
  visibility: hidden;
}

.arrow {
  box-sizing: border-box;
  display: var(--arrow-display);
  position: absolute;
  background-color: var(--background-color);
  width: var(--bl-size-2xs);
  height: var(--bl-size-2xs);
  transform: rotate(45deg);
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-right: none;
}
