:host {
  --bl-popover-arrow-display: none;
  --bl-popover-background-color: var(--bl-color-primary-background);
  --bl-popover-border-color: var(--bl-color-primary-hover);
  --bl-popover-padding:  var(--bl-size-m);
  --bl-popover-border-radius:  var(--bl-size-3xs);
  --bl-popover-position: absolute;
}

.popover {
  position: var(--bl-popover-position);
  box-sizing: border-box;
  border: 1px solid var(--bl-popover-border-color);
  padding: var(--bl-popover-padding);
  border-radius: var(--bl-popover-border-radius);
  z-index: 999;
  width: max-content;
  hyphens: auto;
  background-color: var(--bl-popover-background-color) ;
 }

.popover:not(.visible) {
  visibility: hidden;
}

.arrow {
  display: var(--bl-popover-arrow-display);
  position: absolute;
  background-color: var(--bl-popover-background-color);
  width: var(--bl-size-2xs);
  height: var(--bl-size-2xs);
  transform: rotate(45deg);
}
