:host {
    position: relative;
    display: inline-block;
}

bl-button {
    --bl-color-primary: var(--bl-color-tertiary);
    --bl-color-primary-hover: var(--bl-color-tertiary-hover);
    --bl-color-secondary-background: var(--bl-color-secondary-hover);
    --bl-color-content-primary-contrast: var(--bl-color-content-primary);
}

:host(:hover) bl-button {
    --bl-color-primary: var(--bl-color-tertiary-hover);
}

:host([variant='tertiary']) bl-button {
    --bl-color-primary: var(--bl-color-secondary-background);
}

:host([variant='tertiary']:hover:not([disabled])) bl-button {
    --bl-color-primary-hover: var(--bl-color-secondary-hover);
    --bl-color-secondary-background: var(--bl-color-tertiary);
}

.popover {
    --left: 0;
    --top: 0;

    position: absolute;
    display: var(--bl-dropdown-display, none);
    flex-direction: column;
    align-items: flex-start;
    padding: var(--bl-size-m);
    gap: var(--bl-size-xs);
    background: var(--bl-color-primary-background);
    border: 1px solid var(--bl-color-border);
    box-shadow: 0px 10px 15px -8px #27314226;
    border-radius: var(--bl-size-3xs);
    left: var(--left);
    top: var(--top);
    min-width: 100%;
    box-sizing: border-box;
}

.visible {
    --bl-dropdown-display: flex;
}

:host ::slotted(bl-dropdown-group:not(:last-child))::after {
    position: absolute;
    content: '';
    width: 100%;
    border-bottom: 1px solid var(--bl-color-border);
}