:host {
  width: max-content;
}

.pagination {
  --bl-pagination-main-color: var(--bl-color-secondary);
  --arrow-disabled-color: var(--bl-color-content-passive);

  display: flex;
}

.pagination * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  display: flex;
  align-items: center;
}

.page-list {
  display: flex;
  align-items: center;
  list-style: none;
  user-select: none;
}

.dots {
  margin: 7.5px;
}

.dots::before {
  content: ' \B7 \B7 \B7';
  color: var(--bl-color-secondary);
}

.pagination-helpers {
  margin-right: var(--bl-size-s);
}

.jumper {
  display: flex;
  align-items: center;
  gap: var(--bl-size-2xs);
}

.jumper label {
  font-size: var(--bl-font-size-m);
  font-weight: var(--bl-font-weight-medium);
  line-height: var(--bl-font-size-m);
  letter-spacing: 0;
}

bl-input {
  width: 62px;
}
