:host {
    display: inline-block;
    width: 200px; /* ? */
    position: relative;

    --bl-input-padding-vertical: var(--bl-size-2xs);
    --bl-input-padding-horizontal: var(--bl-size-xs);
    --bl-input-border-color: var(--bl-color-border);
    --bl-input-icon-color: var(--bl-color-content-tertiary);
}


input {
    outline: none; /* ? */
    box-sizing: border-box;
    border: none;
    width: 100%;
    font: var(--bl-font-title-3-regular);
    padding: var(--bl-input-padding-vertical) var(--bl-input-padding-horizontal);
    margin: 0;
    box-shadow: inset 0 0 0 1px var(--bl-input-border-color);
    border-radius: 4px; /* ? */
}

bl-icon {
    position: absolute;
    top: var(--bl-input-padding-vertical);
    right: var(--bl-input-padding-horizontal);
    font-size: var(--bl-size-m);
    z-index: 1;
    color: var(--bl-input-icon-color);
}

input:focus {
    --bl-input-border-color: var(--bl-color-primary);
}

input:focus ~ bl-icon {
    --bl-input-icon-color: var(--bl-color-primary);
}

input.dirty:invalid {
    box-shadow: inset 0 0 0 1px var(--bl-color-danger);
}

input.has-icon {
    padding-right: calc(var(--bl-size-xs) * 2 + var(--bl-size-m));
}

.error-icon,
.invalid-text {
    display: none;
}

label {
    display: none;
    position: absolute;
    left: var(--bl-size-2xs);
    transform: translateY(-50%);
    font: var(--bl-font-form-label);
    color: var(--bl-color-content-secondary);
    padding: 0 var(--bl-size-3xs);
    background-color: var(--bl-color-background-secondary);
}

.invalid-text {
    color: var(--bl-color-danger);
    font: var(--bl-font-title-4-regular);
    padding: 3px 16px;
    margin: 0;
}

:where(input:focus,input:not(:placeholder-shown)) ~ label {
    display: inline-block;
}

.error-icon {
    color: var(--bl-color-danger);
}

.dirty:invalid ~ .invalid-text {
    display: block;
}

.dirty:invalid ~ .error-icon {
    display: inline-block;
}

.dirty:invalid ~ .custom-icon ~ .error-icon {
    display: none;
}

.dirty:invalid ~ .custom-icon {
    --bl-input-icon-color: var(--bl-color-danger);
}
