:host {
  display: var(--gr-button-display, inline-block);
  position: relative;
  width: auto;
  cursor: pointer;

  --gr-button-main-color: var(--gr-color-primary);
  --gr-button-padding-vertical: 8px;
  --gr-button-padding-horizontal: 8px;
  --gr-button-padding: var(--gr-button-padding-vertical) var(--gr-button-padding-horizontal);
}

.button {

  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: var(--gr-button-height, 32px);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  padding: var(--gr-button-padding);
  cursor: inherit;
  background-color: var(--gr-button-main-color);
  border-color: var(--gr-button-main-color);
  color: var(--gr-color-content-primary);
  font: var(--gr-button-font, var(--gr-font-title-3-regular));

}

.button:focus {
  outline: none;
}

:host([disabled]) {
  opacity: 0.5;
  cursor: not-allowed;
}

:host([disabled]) * {
  pointer-events: none;
}

.button::-moz-focus-inner {
  border: 0;
}

:host([size="small"]) .button {
  --gr-button-height: 24px;
  --gr-button-font: var(--gr-font-title-4-medium);

  --gr-button-padding-vertical: var(--gr-size-xs);
  --gr-button-padding-horizontal: var(--gr-size-s);
}

:host([size="medium"]) .button {
  --gr-button-height: 32px;
  --gr-button-padding-vertical: var(--gr-size-s);
  --gr-button-padding-horizontal: var(--gr-size-m);
}

:host([size="large"]) .button {
  --gr-button-height: 40px;

  padding: 12px 24px;
}

:host([secondary]) .button {
  background-color: var(--gr-color-secondary);
  border-color: var(--gr-color-secondary);
  color: var(--gr-color-content-secondary);
}

:host([tertiary]) {
  --gr-bg-color: var(--gr-color-tertiary);
  color: var(--gr-color-content-tertiary);
}

:host() .button {
  background-color: var(--gr-main-color);
  border-color: var(--gr-main-color);
  color: var(--gr-color-content-tertiary);
}

:host([success]) .button {
  background-color: var(--gr-color-success);
  border-color: var(--gr-color-success);
  color: var(--gr-color-content-success);
}

:host([error]) .button {
  background-color: var(--gr-color-error);
  border-color: var(--gr-color-error);
  color: var(--gr-color-content-error);
}

:host([outline]) .button {
  background-color: var(--gr-color-primary-outline);
  color: var(--gr-color-content-outline-primary);
}

.button:hover:not(:disabled) {
  background-color: var(--gr-color-primary-hover);
  border-color: var(--gr-color-primary-hover);
}

:host([outline][secondary]) {
  --gr-button-main-color: var(--gr-color-secondary-outline);
  color: var(--gr-color-content-outline-secondary);
}

:host([outline][tertiary]) .button {
  background-color: var(--gr-color-tertiary-outline);
  color: var(--gr-color-content-outline-tertiary);
}

:host([outline][success]) .button {
  background-color: var(--gr-color-success-outline);
  color: var(--gr-color-content-outline-success);
}

:host([outline][error]) .button {
  background-color: var(--gr-color-error-outline);
  color: var(--gr-color-content-outline-error);
}

:host([secondary]) .button:hover:not(:disabled) {
  background-color: var(--gr-color-secondary-hover);
  border-color: var(--gr-color-secondary-hover);
}

:host([tertiary]) .button:hover:not(:disabled) {
  background-color: var(--gr-color-tertiary-hover);
  border-color: var(--gr-color-tertiary-hover);
}

:host([success]) .button:hover:not(:disabled) {
  background-color: var(--gr-color-success-hover);
  border-color: var(--gr-color-success-hover);
}

:host([error]) .button:hover:not(:disabled) {
  background-color: var(--gr-color-error-hover);
  border-color: var(--gr-color-error-hover);
}

:host([outline]) .button:hover:not(:disabled) {
  background-color: var(--gr-color-primary-hover);
  border-color: var(--gr-color-primary-hover);
  color: var(--gr-color-content-primary);
}

:host([outline][secondary]) .button:hover:not(:disabled) {
  background-color: var(--gr-color-secondary-hover);
  border-color: var(--gr-color-secondary-hover);
  color: var(--gr-color-content-secondary);
}

:host([outline][tertiary]) .button:hover:not(:disabled) {
  background-color: var(--gr-color-tertiary-hover);
  border-color: var(--gr-color-tertiary-hover);
  color: var(--gr-color-content-tertiary);
}

:host([outline][success]) .button:hover:not(:disabled) {
  background-color: var(--gr-color-success-hover);
  border-color: var(--gr-color-success-hover);
  color: var(--gr-color-content-success);
}

:host([outline][error]) .button:hover:not(:disabled) {
  background-color: var(--gr-color-error-hover);
  border-color: var(--gr-color-error-hover);
  color: var(--gr-color-content-error);
}


