div {
  padding: var(--bl-size-xl);
  background-color: var(--bl-color-content-primary-contrast);
  border-radius: 0 0 var(--bl-border-radius-m) var(--bl-border-radius-m);
}

div[hidden] {
  display: none;
}
