*dist*
storybook-static/
custom-elements.json
.env-local
.aws
.hidden
*.generated.css
coverage

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.history/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
src/component-list.json
coverage/
