:host {
  display: var(--bl-button-display, inline-block);
  max-width: 100%;
  position: relative;
}

.button {
  --bl-button-main-color: var(--bl-color-primary);
  --bl-button-main-hover-color: var(--bl-color-primary-hover);
  --bl-button-text-hover-color: var(--bl-color-secondary-background);
  --bl-button-content-color: var(--bl-color-primary-background);
  --bl-button-bg-color: var(--bl-button-main-color);
  --bl-button-border-color: var(--bl-button-main-color);
  --bl-button-padding-vertical: var(--bl-size-2xs);
  --bl-button-padding-horizontal: var(--bl-size-m);
  --bl-button-margin-icon: var(--bl-button-padding-vertical);
  --bl-button-icon-size: var(--bl-size-m);
  --bl-button-font: var(--bl-font-title-3-medium);
  --bl-button-height: var(--bl-size-2xl);

  display: flex;
  gap: var(--bl-button-margin-icon);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: var(--bl-button-height);
  border: solid 1px var(--bl-button-border-color);
  border-radius: 6px;
  text-decoration: none;
  padding: var(--bl-button-padding-vertical) var(--bl-button-padding-horizontal);
  cursor: pointer;
  background-color: var(--bl-button-bg-color);
  color: var(--bl-button-content-color);
  font: var(--bl-button-font);
  font-kerning: none;
  user-select: none;
}

:host(:hover) .button {
  --bl-button-bg-color: var(--bl-button-main-hover-color);
  --bl-button-border-color: var(--bl-button-main-hover-color);
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host([size='small']) .button {
  --bl-button-font: var(--bl-font-title-4-medium);
  --bl-button-padding-vertical: var(--bl-size-3xs);
  --bl-button-padding-horizontal: var(--bl-size-2xs);
  --bl-button-icon-size: var(--bl-size-s);
  --bl-button-height: var(--bl-size-xl);
}

:host([size='large']) .button {
  --bl-button-font: var(--bl-font-title-3-medium);
  --bl-button-padding-vertical: var(--bl-size-xs);
  --bl-button-padding-horizontal: var(--bl-size-xl);
  --bl-button-margin-icon: var(--bl-size-2xs);
  --bl-button-height: var(--bl-size-3xl);
}

.button:focus {
  outline: none;
}

:host ::slotted(bl-icon) {
  font-size: var(--bl-button-icon-size);
}

.has-icon:not(.has-content) {
  --bl-button-padding-horizontal: var(--bl-button-padding-vertical);
  --bl-button-margin-icon: 0;
}

:host([variant='secondary']) .button {
  --bl-button-bg-color: transparent;
  --bl-button-content-color: var(--bl-button-main-color);
}

:host([variant='tertiary']) .button{
  --bl-button-content-color: var(--bl-button-main-color);
  --bl-button-border-color: transparent;
  --bl-button-bg-color: transparent;
}

:host([kind='neutral']) .button {
  --bl-button-main-color: var(--bl-color-secondary);
  --bl-button-main-hover-color: var(--bl-color-secondary-hover);
}

:host([kind='success']) .button {
  --bl-button-main-color: var(--bl-color-success);
  --bl-button-main-hover-color: var(--bl-color-success-hover);
}

:host([kind='danger']) .button {
  --bl-button-main-color: var(--bl-color-danger);
  --bl-button-main-hover-color: var(--bl-color-danger-hover);
}

:host([disabled]) {
  cursor: not-allowed;
}

:host([disabled]) .button {
  --bl-button-main-color: var(--bl-color-tertiary);
  --bl-button-main-hover-color: var(--bl-color-tertiary);
  --bl-button-content-color: var(--bl-color-content-passive);
  --bl-button-bg-color: var(--bl-button-main-color);

  pointer-events: none;
  text-decoration: none;
}

:host([variant='secondary']:hover:not([disabled])) .button {
  --bl-button-content-color: var(--bl-color-primary-background);
  --bl-button-bg-color: var(--bl-button-main-hover-color);
}

:host([variant='tertiary']:hover:not([disabled])) .button {
  --bl-button-content-color: var(--bl-button-main-hover-color);
  --bl-button-bg-color: var(--bl-button-text-hover-color);
}
