:host {
  display: block;
  position: relative;
  width: 100%;
}

.dropdown-group {
  display: flex;
  flex-direction: column;
  gap: var(--bl-size-xs);
}

.caption {
  font: var(--bl-font-caption);
  font-size: var(--bl-font-size-xs);
  font-weight: var(--bl-font-weight-medium);
  line-height: var(--bl-font-size-s);
  color: var(--bl-color-neutral-dark);
}

:host(:not(:first-child)) .dropdown-group {
  border-top: 1px solid var(--bl-color-neutral-lighter);
  padding-top: var(--bl-size-xs);
}

/*
:host(:not(:last-child)) .dropdown-group {
  border-bottom: 1px solid var(--bl-color-neutral-lighter);
  padding-bottom: var(--bl-size-xs);
}
*/

/*
:host(:not([caption])) ::slotted(:first-child) {
  padding-block: var(--bl-size-xs) 0;
}

:host(:not(:last-child)) ::slotted(:last-child) {
  padding-block: 0 var(--bl-size-xs);
}

:host(:not(:first-child)) .caption {
  padding-block: var(--bl-size-xs) 0;
} */
