.tabs {
  background-color: var(--bl-color-primary-background);
  border-bottom: 2px solid var(--bl-color-secondary-background);
  display: flex;
  flex-direction: row;
}

.tabs-list {
  overflow-x: scroll;
  border-radius: 6px 6px 0 0;
}

.panels {
  border-radius: 0 0 6px 6px;
}
