.tabs {
  background-color: var(--bl-color-primary-background);
  border-bottom: var(--bl-size-4xs) solid var(--bl-color-secondary-background);
  display: flex;
  flex-direction: row;
}

.tabs-list {
  overflow-x: scroll;
  border-radius: var(--bl-border-radius-m) var(--bl-border-radius-m) var(--bl-border-radius-0)
    var(--bl-border-radius-0);
}

.panels {
  border-radius: var(--bl-border-radius-0) var(--bl-border-radius-0) var(--bl-border-radius-m)
    var(--bl-border-radius-m);
}
