:host {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  min-width: 1em;
  min-height: 1em;
  contain: strict;
  box-sizing: content-box !important;
}

:host svg {
  width: 100%;
  height: 100%;
}
