.calendar {
  display: flex;
}

.content {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: var(--bl-border-radius-s);
  width: fit-content;
  border: 1px solid var(--bl-color-primary);
  background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 2px;
}

.arrow {
  flex: 1;
}

.header-text {
  flex: 3;
}

.header-text-hover {
  background: var(--bl-color-neutral-lightest);
  border-radius: var(--bl-border-radius-s);
}

.day-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-top: 12px;
}

.day {
  display: flex;
  align-items: center;
  width: 40px;

  --bl-font-title-4-medium: var(--bl-font-weight-regular) var(--bl-font-size-m);
  --bl-size-xl: 40px;
  --bl-border-radius-m: 50%;
  --bl-border-radius-l: 50%;

  &.today-day {
    --bl-color-neutral-darker: var(--bl-color-primary) !important;
  }

  &.selected-day {
    background: var(--bl-color-primary);
    border-radius: 50%;
  }

  &.other-month-day {
    --bl-color-neutral-darker: var(--bl-color-neutral-dark) !important;
  }
}

.range-day {
  background: var(--bl-color-primary-contrast);

  --bl-color-neutral-lightest: var(--bl-color-primary-contrast);
}

.range-end-day,
.range-start-day,
.selected-day {
  --bl-color-neutral-lightest: var(--bl-color-primary);
  --bl-color-neutral-darker: var(--bl-color-neutral-full) !important;
  --bl-color-neutral-darkest: var(--bl-color-neutral-full) !important;
}

.range-start-day {
  background: var(--bl-color-primary-contrast);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.range-end-day {
  background: var(--bl-color-primary-contrast);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.weekday-text {
  color: var(--bl-color-neutral-light);
  text-align: center;
  padding-bottom: 8px;
}

.grid-content {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}

.grid-item {
  width: 93.33px;

  --bl-size-3xs: 15px;
}

.grid-item:not(:nth-last-child(-n + 3)) {
  padding-bottom: 8px;
}

.calendar-text {
  font: var(--bl-font-title-3-regular);
}
