:host {
  --bl-alert-padding-vertical: var(--bl-size-m);
  --bl-alert-padding-horizontal: var(--bl-size-m);
  --bl-alert-main-color: var(--bl-color-success);
  --bl-alert-main-bg-color: var(--bl-color-success-background);
  --bl-alert-description-font-size: var(--bl-font-size-m);
}

.alert {
  display: flex;
  justify-content: space-between;
  padding: var(--bl-alert-padding-horizontal) var(--bl-alert-padding-vertical);
  background-color: var(--bl-alert-main-bg-color);
  color: var(--bl-color-content-primary);
  border: 1px solid var(--bl-alert-main-color);
  border-radius: var(--bl-size-3xs);
}

.description{
  font-size: var(--bl-alert-description-font-size);
}

.content{
  display: flex;
  flex-direction: column;
}

.title{
  color:var(--bl-alert-main-color);
  font-size: var(--bl-font-size-m);
}

:host([title]){
  --bl-alert-description-font-size: var(--bl-font-size-s);
}

:host([variant='info']){
  --bl-alert-main-color: var(--bl-color-primary);
  --bl-alert-main-bg-color: var(--bl-color-accent-primary-background);
}

:host([variant='warning']){
  --bl-alert-main-color: var(--bl-color-warning);
  --bl-alert-main-bg-color: var(--bl-color-warning-background);
}

:host([variant='error']){
  --bl-alert-main-color: var(--bl-color-danger);
  --bl-alert-main-bg-color: var(--bl-color-danger-background);
}
