@import '@fontsource/rubik/variable.css';

:root {
  /* Color Light Values */
  --bl-light-regular: 46%;
  --bl-light-hover: 33%;
  --bl-light-contrast: 94%;
  --bl-light-content: 20%;
  --bl-light-content-step: 15%;

  /* Key Colors */
  --bl-color-primary-key: 26 87%;
  --bl-color-secondary-key: 214 79%;
  --bl-color-success-key: 102 54%;
  --bl-color-danger-key: 4 100%;
  --bl-color-warning-key: 45 95%;
  --bl-color-content-key: 221 12%;

  /* Color Variants

  Primary Color */
  --bl-color-primary: hsl(var(--bl-color-primary-key) var(--bl-light-regular));
  --bl-color-primary-hover: hsl(var(--bl-color-primary-key) var(--bl-light-hover));
  --bl-color-primary-background: hsl(var(--bl-color-primary-key) var(--bl-light-contrast));

  /* Secondary Color */
  --bl-color-secondary: hsl(var(--bl-color-secondary-key) var(--bl-light-regular));
  --bl-color-secondary-hover: hsl(var(--bl-color-secondary-key) var(--bl-light-hover));
  --bl-color-secondary-background: hsl(var(--bl-color-secondary-key) var(--bl-light-contrast));

  /* Success Color */
  --bl-color-success: hsl(var(--bl-color-success-key) var(--bl-light-regular));
  --bl-color-success-hover: hsl(var(--bl-color-success-key) var(--bl-light-hover));
  --bl-color-success-background: hsl(var(--bl-color-success-key) var(--bl-light-contrast));

  /* Danger Color */
  --bl-color-danger: hsl(var(--bl-color-danger-key) var(--bl-light-regular));
  --bl-color-danger-hover: hsl(var(--bl-color-danger-key) var(--bl-light-hover));
  --bl-color-danger-background: hsl(var(--bl-color-danger-key) var(--bl-light-contrast));

  /* Warning Color */
  --bl-color-warning: hsl(var(--bl-color-warning-key) var(--bl-light-regular));
  --bl-color-warning-hover: hsl(var(--bl-color-warning-key) var(--bl-light-hover));
  --bl-color-warning-background: hsl(var(--bl-color-warning-key) var(--bl-light-contrast));

  /* Content Color */
  --bl-color-content-primary: hsl(var(--bl-color-content-key) var(--bl-light-content));
  --bl-color-content-secondary: hsl(var(--bl-color-content-key) calc(var(--bl-light-content) + var(--bl-light-content-step)));
  --bl-color-content-tertiary: hsl(var(--bl-color-content-key) calc(var(--bl-light-content) + var(--bl-light-content-step) * 2));
  --bl-color-content-passive: hsl(var(--bl-color-content-key) calc(var(--bl-light-content) + var(--bl-light-content-step) * 3));
  --bl-color-content-primary-contrast: hsl(var(--bl-color-content-key) 100%);

  /* FIXME: Remove or rename this */
  --bl-color-border: var(--bl-color-content-passive);

  /* Old Colors
  --bl-color-primary: #f27a1a;
  --bl-color-primary-hover: #ef6114;
  --bl-color-secondary: #273142;
  --bl-color-secondary-hover: #0f131a;
  --bl-color-tertiary: #f1f2f7;
  --bl-color-tertiary-hover: #d5d9e1;
  --bl-color-success: #0bc15c;
  --bl-color-success-hover: #09a44e;
  --bl-color-danger: #ff5043;
  --bl-color-danger-hover: #ff3028;
  --bl-color-warning: #ffb600;
  --bl-color-warning-hover: #ff9800;
  --bl-color-alternative: #5794ff;
  --bl-color-alternative-hover: #457eff;
  --bl-color-featured: #8c4eff;
  --bl-color-featured-hover: #753eff;

  Background Colors
  --bl-color-primary-background: #fff;
  --bl-color-accent-primary-background: #fef2e8;
  --bl-color-secondary-background: #f1f2f7;
  --bl-color-tertiary-background: #f7f7fa;
  --bl-color-success-background: #e7f9ef;
  --bl-color-danger-background: #ffeeec;
  --bl-color-warning-background: #fff8e6;
  --bl-color-alternative-background: #eef4ff;
  --bl-color-featured-background: #f4edff;

  Content Colors
  --bl-color-content-primary: #273142;
  --bl-color-content-secondary: #6e7787;
  --bl-color-content-tertiary: #95a1b5;
  --bl-color-content-passive: #afbbca;
  --bl-color-content-primary-contrast: #fff;
  --bl-color-content-hover: #f27a1a;
  --bl-color-border: #d5d9e1;
  */

  /* Size and Spacing */
  --bl-size-4xs: 0.125rem; /* 2px */
  --bl-size-3xs: 0.25rem; /* 4px */
  --bl-size-2xs: 0.5rem; /* 8px */
  --bl-size-xs: 0.75rem; /* 12px */
  --bl-size-s: 0.875rem; /* 14px */
  --bl-size-m: 1rem; /* 16px */
  --bl-size-l: 1.25rem; /* 20px */
  --bl-size-xl: 1.5rem; /* 24px */
  --bl-size-2xl: 2rem; /* 32px */
  --bl-size-3xl: 2.5rem; /* 40px */
  --bl-size-4xl: 3rem; /* 48px */
  --bl-size-5xl: 4rem; /* 64px */
  --bl-size-6xl: 5rem; /* 80px */

  /* Typography */
  --bl-font-family: 'RubikVariable', sans-serif;

  /* Font weights */
  --bl-font-weight-light: 300;
  --bl-font-weight-regular: 400;
  --bl-font-weight-medium: 500;
  --bl-font-weight-semibold: 600;
  --bl-font-weight-bold: 700;

  /* Font sizes */
  --bl-font-size-2xs: 0.5rem; /* 8px */
  --bl-font-size-xs: 0.625rem; /* 10px */
  --bl-font-size-s: 0.75rem; /* 12px */
  --bl-font-size-m: 0.875rem; /* 14px */
  --bl-font-size-l: 1rem; /* 16px */
  --bl-font-size-xl: 1.25rem; /* 20px */
  --bl-font-size-2xl: 1.5rem; /* 24px */
  --bl-font-size-3xl: 1.75rem; /* 28px */
  --bl-font-size-4xl: 2rem; /* 32px */
  --bl-font-size-5xl: 3rem; /* 48px */
  --bl-font-size-6xl: 4rem; /* 64px */

  /* Border radius */
  --bl-border-radius-xs: 0.125rem; /* 2px */
  --bl-border-radius-s: 0.25rem; /* 4px */
  --bl-border-radius-m: 0.375rem; /* 6px */
  --bl-border-radius-l: 0.5rem; /* 8px */
  --bl-border-radius-pill: 62.438rem; /* 999px */
  --bl-border-radius-circle: 50%;

  /* Font Style: Display */
  --bl-font-display: var(--bl-font-size-5xl) var(--bl-font-family);
  --bl-font-display-light: var(--bl-font-weight-light) var(--bl-font-display);
  --bl-font-display-regular: var(--bl-font-weight-regular) var(--bl-font-display);
  --bl-font-display-medium: var(--bl-font-weight-medium) var(--bl-font-display);
  --bl-font-display-semibold: var(--bl-font-weight-semibold) var(--bl-font-display);
  --bl-font-display-bold: var(--bl-font-weight-bold) var(--bl-font-display);

  /* Font Style: Heading 1 */
  --bl-font-heading-1: var(--bl-font-weight-light) var(--bl-font-size-4xl) var(--bl-font-family);

   /* Font Style: Heading 2 */
   --bl-font-heading-2: var(--bl-font-weight-regular) var(--bl-font-size-3xl) var(--bl-font-family);

   /* Font Style: Heading 3 */
   --bl-font-heading-3: var(--bl-font-weight-regular) var(--bl-font-size-2xl) var(--bl-font-family);

  /* Font Style: Title 1 */
  --bl-font-title-1: var(--bl-font-size-xl) var(--bl-font-family);
  --bl-font-title-1-regular: var(--bl-font-weight-regular) var(--bl-font-title-1);
  --bl-font-title-1-medium: var(--bl-font-weight-medium) var(--bl-font-title-1);
  --bl-font-title-1-semibold: var(--bl-font-weight-semibold) var(--bl-font-title-1);
  --bl-font-title-1-bold: var(--bl-font-weight-bold) var(--bl-font-title-1);

  /* Font Style: Title 2 */
  --bl-font-title-2: var(--bl-font-size-l) var(--bl-font-family);
  --bl-font-title-2-regular: var(--bl-font-weight-regular) var(--bl-font-title-2);
  --bl-font-title-2-medium: var(--bl-font-weight-medium) var(--bl-font-title-2);
  --bl-font-title-2-semibold: var(--bl-font-weight-semibold) var(--bl-font-title-2);
  --bl-font-title-2-bold: var(--bl-font-weight-bold) var(--bl-font-title-2);

  /* Font Style: Title 3 */
  --bl-font-title-3: var(--bl-font-size-m) var(--bl-font-family);
  --bl-font-title-3-regular: var(--bl-font-weight-regular) var(--bl-font-title-3);
  --bl-font-title-3-medium: var(--bl-font-weight-medium) var(--bl-font-title-3);
  --bl-font-title-3-semibold: var(--bl-font-weight-semibold) var(--bl-font-title-3);
  --bl-font-title-3-bold: var(--bl-font-weight-bold) var(--bl-font-title-3);

  /* Font Style: Title 4 */
  --bl-font-title-4: var(--bl-font-size-s) var(--bl-font-family);
  --bl-font-title-4-regular: var(--bl-font-weight-regular) var(--bl-font-title-4);
  --bl-font-title-4-medium: var(--bl-font-weight-medium) var(--bl-font-title-4);
  --bl-font-title-4-semibold: var(--bl-font-weight-semibold) var(--bl-font-title-4);
  --bl-font-title-4-bold: var(--bl-font-weight-bold) var(--bl-font-title-4);

  /* Font Style: Body Text 1 */
  --bl-font-body-text-1: var(--bl-font-weight-regular) var(--bl-font-size-l) var(--bl-font-family);

  /* Font Style: Body Text 2 */
  --bl-font-body-text-2: var(--bl-font-weight-regular) var(--bl-font-size-m) var(--bl-font-family);

  /* Font Style: Body Text 3 */
  --bl-font-body-text-3: var(--bl-font-weight-regular) var(--bl-font-size-s) var(--bl-font-family);

  /* Font Style: Caption */
  --bl-font-caption: var(--bl-font-weight-medium) var(--bl-font-size-xs) var(--bl-font-family);
}
