@import '@fontsource/rubik';

:root {
  /* Colors */
  --bl-color-primary: #f27a1a;
  --bl-color-primary-hover: #ef6114;
  --bl-color-tertiary: #f1f2f7;
  --bl-color-tertiary-hover: #d5d9e1;
  --bl-color-secondary: #273142;
  --bl-color-secondary-hover: #0f131a;
  --bl-color-success: #0bc15c;
  --bl-color-success-hover: #09a44e;
  --bl-color-error: #ff5043;
  --bl-color-error-hover: #ff3028;

  /* Content Colors */
  --bl-color-content-primary: #273142;
  --bl-color-content-secondary: #6e7787;
  --bl-color-content-tertiary: #95a1b5;
  --bl-color-content-passive: #afbbca;

  /* Size and Spacing */
  --bl-size-2xs: 2px;
  --bl-size-xs: 4px;
  --bl-size-s: 8px;
  --bl-size-m: 12px;
  --bl-size-l: 16px;
  --bl-size-xl: 24px;
  --bl-size-2xl: 32px;
  --bl-size-3xl: 40px;
  --bl-size-4xl: 64px;
  --bl-size-5xl: 80px;

  /* Typography */
  --bl-font-family: 'Rubik', sans-serif;
  --bl-font-weight-light: 300;
  --bl-font-weight-regular: 400;
  --bl-font-weight-medium: 500;
  --bl-font-weight-semibold: 600;
  --bl-font-weight-bold: 700;
  --bl-font-size-2xs: 8px;
  --bl-font-size-xs: 10px;
  --bl-font-size-s: 12px;
  --bl-font-size-m: 14px;
  --bl-font-size-l: 16px;
  --bl-font-size-xl: 20px;
  --bl-font-size-2xl: 24px;
  --bl-font-size-3xl: 28px;
  --bl-font-size-4xl: 32px;
  --bl-font-size-5xl: 48px;
  --bl-font-size-6xl: 64px;
  --bl-font-display-1: var(--bl-font-weight-bold) var(--bl-font-size-6xl) /
    var(--bl-size-4xl) var(--bl-font-family);
  --bl-font-title-1-regular: var(--bl-font-weight-regular)
    var(--bl-font-size-xl) / var(--bl-size-xl) var(--bl-font-family);
  --bl-font-title-1-medium: var(--bl-font-weight-medium) var(--bl-font-size-xl) /
    var(--bl-size-xl) var(--bl-font-family);
  --bl-font-title-1-semibold: var(--bl-font-weight-semibold)
    var(--bl-font-size-xl) / var(--bl-size-xl) var(--bl-font-family);
  --bl-font-title-1-bold: var(--bl-font-weight-bold) var(--bl-font-size-xl) /
    var(--bl-size-xl) var(--bl-font-family);
  --bl-font-title-2-regular: var(--bl-font-weight-regular) var(--bl-font-size-l) /
    var(--bl-size-xl) var(--bl-font-family);
  --bl-font-title-2-medium: var(--bl-font-weight-medium) var(--bl-font-size-l) /
    var(--bl-size-xl) var(--bl-font-family);
  --bl-font-title-2-semibold: var(--bl-font-weight-semibold)
    var(--bl-font-size-l) / var(--bl-size-xl) var(--bl-font-family);
  --bl-font-title-2-bold: var(--bl-font-weight-bold) var(--bl-font-size-l) /
    var(--bl-size-xl) var(--bl-font-family);
  --bl-font-title-3-regular: var(--bl-font-weight-regular) var(--bl-font-size-m) /
    var(--bl-size-l) var(--bl-font-family);
  --bl-font-title-3-medium: var(--bl-font-weight-medium) var(--bl-font-size-m) /
    var(--bl-size-l) var(--bl-font-family);
  --bl-font-title-3-semibold: var(--bl-font-weight-semibold)
    var(--bl-font-size-m) / var(--bl-size-l) var(--bl-font-family);
  --bl-font-title-3-bold: var(--bl-font-weight-bold) var(--bl-font-size-m) /
    var(--bl-size-l) var(--bl-font-family);
  --bl-font-title-4-regular: var(--bl-font-weight-regular) var(--bl-font-size-s) /
    var(--bl-size-l) var(--bl-font-family);
  --bl-font-title-4-medium: var(--bl-font-weight-medium) var(--bl-font-size-s) /
    var(--bl-size-l) var(--bl-font-family);
  --bl-font-title-4-semibold: var(--bl-font-weight-semibold)
    var(--bl-font-size-s) / var(--bl-size-l) var(--bl-font-family);
  --bl-font-title-4-bold: var(--bl-font-weight-bold) var(--bl-font-size-s) /
    var(--bl-size-l) var(--bl-font-family);
}

/* Prevent FOUCE */
:not(:defined) {
  visibility: hidden;
}
