:host {
  --bl-progress-indicator-max: 100;
  --bl-progress-indicator-value: 0;
  --bl-progress-indicator-value-color: var(--bl-color-success);
  --bl-progress-indicator-height: var(--bl-size-2xs);
  --bl-progress-indicator-radius: var(--bl-size-3xs);
}

.progress-indicator {
  position: relative;
  background-color: var(--bl-color-secondary-background);
  height: var(--bl-progress-indicator-height);
  border-radius: var(--bl-progress-indicator-radius);
  width: 100%;
}

.progress-indicator::before {
  content: '';
  position: absolute;
  height: 100%;
  width: calc(100% / var(--bl-progress-indicator-max) * var(--bl-progress-indicator-value));
  background-color: var(--bl-progress-indicator-value-color);
  border-radius: var(--bl-progress-indicator-radius);
}

:host([size='small']) {
  --bl-progress-indicator-height: var(--bl-size-3xs);
  --bl-progress-indicator-radius: var(--bl-size-4xs);
}

:host([size='large']) {
  --bl-progress-indicator-height: var(--bl-size-xs);
  --bl-progress-indicator-radius: 6px;
}

:host([failed]) {
  --bl-progress-indicator-value-color: var(--bl-color-danger);
}
