.progress-indicator {
  --max: 100;
  --value: 0;
  --value-color: var(--bl-color-success);
  --value-bg-color: var(--bl-color-secondary-background);
  --height: var(--bl-size-2xs);
  --radius: var(--bl-size-3xs);

  position: relative;
  background-color: var(--value-bg-color);
  height: var(--height);
  border-radius: var(--radius);
  width: 100%;
}

.progress-indicator::before {
  content: '';
  position: absolute;
  height: 100%;
  width: calc(100% / var(--max) * var(--value));
  background-color: var(--value-color);
  border-radius: var(--radius);
}

:host([size='small']) .progress-indicator {
  --height: var(--bl-size-3xs);
  --radius: var(--bl-size-4xs);
}

:host([size='large']) .progress-indicator {
  --height: var(--bl-size-xs);
  --radius: 6px;
}

:host([failed]) .progress-indicator {
  --value-color: var(--bl-color-danger);
}

:host([translucent]) .progress-indicator {
  --value-color: var(--bl-color-translucent);
  --value-bg-color: transparent;
}

:host([noBorderRadius]) .progress-indicator {
  --radius: 0;
}
