:host {
  width: fit-content;
  --bl-input-cursor: pointer;
  --icon-size: var(--line-height);
  --icon-color: var(--bl-color-neutral-light);
  display: block;
}

.datepicker-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
}

.datepicker-input {
  width: 314px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.calendarIcon {
  display: flex;
  align-items: center;
  gap: var(--icon-gap);
  flex-basis: var(--icon-size);
  align-self: center;
  margin-right: var(--label-padding);
  font-size: var(--icon-size);
  color: var(--icon-color);
  height: var(--icon-size);
}

.popover {
  position: var(--popover-position);
  border: solid 1px var(--border-color);
  background-color: var(--background-color);
  font: var(--bl-font-title-3-regular);
  border-radius: var(--bl-border-radius-s);
  padding: var(--menu-padding);
  outline: none;
  box-sizing: border-box;
  max-height: var(--menu-height);
  overflow-y: auto;
  display: none;
  z-index: var(--bl-index-popover);
}

.show-popover {
  display: block;
}
