/*
 Avoid empty file error in linter
*/

:host {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--bl-color-primary-background);

    --bl-tab-title-padding-vertical: var(--bl-size-m);
    --bl-tab-title-padding-horizontal: var(--bl-size-xl);
    --bl-tab-title-color: var(--bl-color-secondary);
    --bl-tab-border-bottom-width: var(--bl-size-4xs);
    --bl-tab-border-left-space: var(--bl-size-xl);
}

:host::before {
    position: absolute;
    opacity: 0;
    content: '';
    bottom: calc(0*var(--bl-tab-border-bottom-width)) ;
    left: var(--bl-tab-border-left-space);
    width: calc(100% - var(--bl-size-4xl));
    border-bottom: var(--bl-tab-border-bottom-width) solid var(--bl-color-primary);
}

:host::after {
    position: absolute;
    content: '';
    right: 0;
    top: var(--bl-size-m);
    height: calc(100% - var(--bl-size-2xl));
    border-right: 2px solid var(--bl-color-tertiary-hover);
}

:host([selected])::before {
    opacity: 1;
}

:host([last-tab])::after {
    opacity: 0;

}

:host([selected]) {
    --bl-tab-title-color: var(--bl-color-primary)
}

:host([selected]) .border-bottom {
    display: inline-block;
}

button[role="tab"] {
    border: none;
    cursor: pointer;
    background-color: initial;
    width: 100%;
    height: 100%;
    padding: var(--bl-size-m) var(--bl-size-xl) calc(var(--bl-size-m) + var(--bl-size-4xs));
}

.title {
    font-size: var(--bl-size-s);
    font-weight: var(--bl-font-weight-medium);
    color: var(--bl-tab-title-color);
    line-height: var(--bl-size-m);
    white-space: nowrap;
}

.caption {
    font-size: var(--bl-size-xs);
    font-weight: var(--bl-font-weight-regular);
    color: var(--bl-color-secondary);
    text-align: center;
    margin-top: var(--bl-size-4xs);
}



