/*
 Avoid empty file error in linter
*/

:host {
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--bl-size-m) var(--bl-size-xl) calc(var(--bl-size-m) + var(--bl-size-4xs));
    background-color: var(--bl-color-primary-background);

    --bl-tab-title-padding-vertical: var(--bl-size-m);
    --bl-tab-title-padding-horizontal: var(--bl-size-xl);
    --bl-tab-title-color: var(--bl-color-secondary);
}

:host::before {
    position: absolute;
    opacity: 0;
    content: '';
    bottom: 0;
    left: 24px;
    width: calc(100% - var(--bl-size-4xl));
    border-bottom: 2px solid var(--bl-color-primary);
}

:host([active])::before {
    opacity: 1;
}

:host::after {
    position: absolute;
    content: '';
    right: 0;
    top: var(--bl-size-m);
    height: calc(100% - var(--bl-size-2xl));
    border-right: 2px solid var(--bl-color-tertiary-hover);
}

:host([active])::after {
    opacity: 1;
}

:host([active]) {
    --bl-tab-title-color: var(--bl-color-primary)
}

:host([active]) .border-bottom {
    display: inline-block;
}


.border-right {
    position: absolute;
    right: 0;
    top: var(--bl-size-m);
    height: calc(100% - var(--bl-size-2xl));
    border-right: 2px solid var(--bl-color-tertiary-hover);
}

.title {
    font-size: var(--bl-size-s);
    font-weight: var(--bl-font-weight-medium);
    color: var(--bl-tab-title-color);
    line-height: var(--bl-size-m);
}

.caption {
    font-size: var(--bl-size-xs);
    font-weight: var(--bl-font-weight-regular);
    color: var(--bl-color-secondary);
    text-align: center;
    margin-top: var(--bl-size-4xs);
}



