:host {
  display: contents;
}

.trigger {
  display: var(--bl-tooltip-trigger-display, inline);
  cursor: pointer;
}

bl-popover {
  --bl-popover-background-color: var(--bl-color-neutral-darker);
  --bl-popover-arrow-display: block;
  --bl-popover-border-size: 0px;
  --bl-popover-max-width: 424px;
}

.content {
  color: var(--bl-color-neutral-full);
}
