.trigger {
  display: inline-block;
  cursor: pointer;
}

.wrapper{
  display: inline-block;
}

.tooltip {
  --bl-popover-background-color: var(--bl-color-secondary);
  --bl-popover-border-color: var(--bl-color-secondary);
  --bl-color-content-primary: white;
  --bl-popover-arrow-display: inline-block;
  --max-viewport: calc(100vw - var(--bl-size-s));
  --tooltip-max-width: 424px;

  max-width: min(var(--max-viewport), var(--tooltip-max-width));
}
