@import "variables";

@mixin color-modifiers($attribute: 'color', $prefix: '-', $separator: '-') {
  @each $name, $color in $colors {
    &#{$prefix}#{$name} {
      @each $tone, $hex in $color {
        &#{$separator}#{$tone} {
          #{$attribute}: $hex;
        }
      }
    }
  }
}

.g-text {
  @include color-modifiers;
  &-white {
    color: white;
  }
  &-black {
    color: black;
  }
}

.g-bg {
  @include color-modifiers('background-color');
  &-white {
    background-color: white;
  }
  &-black {
    background-color: black;
  }
}

.g-border {
  @include color-modifiers('border-color');
  &-white {
    border-color: white;
  }
  &-black {
    border-color: black;
  }
}
