.g-rad-none {
  border-radius: var(--radius-none);
}
.g-rad-sm {
  border-radius: var(--radius-sm);
}
.g-rad-md {
  border-radius: var(--radius-md);
}
.g-rad-lg {
  border-radius: var(--radius-lg);
}
.g-rad-full {
  border-radius: var(--radius-full);
}
