@import "../shared";
@import "variables";

// Color
:root{
  --white: white;
  --black: black;
}
@include nested-root-variables($colors);

// font Family
:root {
  --font-family-base: 'Rubik';
  --font-family-glyphs: Helvetica;

  font-family: var(--font-family-base);
}

// Font Size
@include root-variables('font-size', $font-size, 'px');

// Line Height
:root {
  --lineheight-xxs: 0.9;
  --lineheight-xs: 1;
  --lineheight-s: 1.14;
  --lineheight-m: 1.25;
  --lineheight-l: 1.34;
  --lineheight-xl: 1.43;
  --lineheight-xxl: 1.5;
}

// Radius
:root {
  --radius-none: 0;
  --radius-sm: 3px;
  --radius-md: 6px;
  --radius-lg: 12px;
  --radius-full: 50%;
}

// Spacing
@include root-variables('spacing', $spaceamounts, 'px');

// Z-Index
:root {
  @each $name, $size in $z-indexs {
    --zindex-#{$name}: #{$size};
  }
}
