$colors: (
        main-grey: (
                100: #020203,
                200: #0f131a,
                400: #1f2734,
                300: #171d27,
                500: #273142,
                600: #525a68,
                700: #7d838e,
                800: #a9adb3,
                900: #d4d6d9,
                alert: #e9eaec
        ),
        orange: (
                100: #e71805,
                200: #ea300a,
                300: #ec490f,
                400: #ef6114,
                500: #f27a1a,
                600: #f59548,
                700: #f7af76,
                800: #facaa3,
                900: #fce4d1,
                alert: #fef2e8
        ),
        dark-grey: (
                100: #161727,
                200: #2c2f3f,
                300: #424757,
                400: #585f6f,
                500: #6e7787,
                600: #8b929f,
                700: #a8adb7,
                800: #c5c9cf,
                900: #e2e4e7,
                alert: #f1f1f3
        ),
        mid-grey: (
                100: #405579,
                200: #556888,
                300: #6a7b97,
                400: #7f8ea6,
                500: #95a1b5,
                600: #aab4c4,
                700: #bfc7d3,
                800: #d5d9e1,
                900: #eaecf0,
                alert: #f4f6f8
        ),
        light-grey: (
                100: #6f849f,
                200: #7f92aa,
                300: #8f9fb4,
                400: #9fadbf,
                500: #afbbca,
                600: #bfc9d5,
                700: #cfd6df,
                800: #dfe4ea,
                900: #eff1f4,
                alert: #f7f8fa
        ),
        bg-grey: (
                100: #d5d8e2,
                200: #dddfe9,
                300: #e4e5ed,
                400: #eeeff5,
                500: #f1f2f7,
                600: #f4f5f9,
                700: #f7f7fa,
                800: #f9fafc,
                900: #fcfcfd,
                alert: #fefefe
        ),
        green: (
                100: #028f12,
                200: #049b24,
                300: #06a837,
                400: #08b449,
                500: #0bc15c,
                600: #3ccd7d,
                700: #6dda9d,
                800: #9de6be,
                900: #cef3de,
                alert: #e7f9ef
        ),
        red: (
                100: #f60000,
                200: #ff100a,
                300: #ff3028,
                400: #ff4035,
                500: #ff5043,
                600: #ff7369,
                700: #ff968e,
                800: #ffb9b4,
                900: #ffdcd9,
                alert: #ffeeec
        ),
        purple: (
                100: #300fff,
                200: #471fff,
                300: #5e2eff,
                400: #753eff,
                500: #8c4eff,
                600: #a371ff,
                700: #ba95ff,
                800: #d1b8ff,
                900: #e8dcff,
                alert: #f4edff
        ),
        blue: (
                100: #113eff,
                200: #2253ff,
                300: #3469ff,
                400: #457eff,
                500: #5794ff,
                600: #79a9ff,
                700: #9abfff,
                800: #bcd4ff,
                900: #ddeaff,
                alert: #eef4ff
        ),
        yellow: (
                100: #ff7b00,
                200: #ff8a00,
                300: #ff9800,
                400: #ffa700,
                500: #ffb600,
                600: #ffc533,
                700: #ffd366,
                800: #ffe299,
                900: #fff0cc,
                alert: #fff8e6
        ),
        turquoise:(
                100: #0c4d5a,
                200: #0a7385,
                300: #0899b0,
                400: #06c0db,
                500: #05d3f0,
                600: #37dcf3,
                700: #69e5f6,
                800: #9bedf9,
                900: #cdf6fc,
                alert: #e6fbfe
        )    
);
$font-size: (10, 11, 12, 13, 14, 15, 16, 18, 20, 22, 24, 30, 48, 64);
$sizes: (
        'full': 100%,
        'xs': 320px,
        'sm': 384px,
        'md': 448px,
        'lg': 512px,
        'xl': 576px,
        '2xl': 672px,
        '3xl': 768px,
        '4xl': 896px,
        '5xl': 1024px,
        '6xl': 1152px,
);
$spaceamounts: (0, 4, 8, 10, 12, 15, 16, 20, 22, 24, 28, 30, 32, 40);
$sides: (top, bottom, left, right);
$z-indexs: (
        'deepdive': -99999,
        'default': 1,
        'dialog': 1000,
        'tooltip': 2000,
        'overlay': 3000,
        'modal': 4000,
);
