name: Publish Chromatic

on:
  workflow_call:

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'Trendyol/baklava'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set Node env
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Run build
        run: npm run build
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          projectToken: b94aebe774cc
