name: Verify

on:
  workflow_call:

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set Node env
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - name: Install Playwright dependencies
        run: npx playwright install-deps
      - name: Install dependencies
        run: npm ci
      - name: Run linter check
        run: npm run lint
      - name: Run tests
        run: npm run test
      - name: Create coverage artifact
        uses: actions/upload-artifact@master
        with:
          name: test-coverage-report
          path: coverage/
